.indiv-cabin-list {
  background-color: aqua;
  border: 2px navy solid;
  /* text-decoration:  none; */
  margin: 40px 100px;
}

.background {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
